/* !-------------------------------------------------------------------
MOMENTANEAL CHANGES */
/* *-------------------------------------------------------------------
STILI GENERICI */

/* * ROOT */
:root{
    /* ? COLORI */
    --main-bg-color: #7fffd4;
    --primary-color: black;


    /* ? ALTRO */
    --general-font-size: 20px;
}



/* * HTML TAG */
body{
    font-family: sans-serif;
    font-size: var(--general-font-size);
    color: var(--primary-color);
}



/* * CLASSI */
.my-grid{
    border: 1px solid;
}





/* *-------------------------------------------------------------------
STILI SPECIFICI */

/* * HEADER */
header .my-logo-container .my-title{
    font-size: 2.5em;
}

header .my-logo-container .my-logo{
    width: 10%;
}



/* * MAIN */
main{
    height: 1000px;
    background-color: var(--main-bg-color);
}