/* !-------------------------------------------------------------------
MOMENTANEAL CHANGES */
/* *-------------------------------------------------------------------
STILI GENERICI */

/* * ROOT */
:root{
    /* ? COLORI */
    --main-bg-color: #7fffd4;
    --primary-color: black;


    /* ? MISURE */
    --general-font-size: 20px;
    --number-of-squares:10;
}



/* * HTML TAG */
body{
    font-family: sans-serif;
    font-size: var(--general-font-size);
    color: var(--primary-color);
    min-width: 900px;
}



/* * CLASSI */





/* *-------------------------------------------------------------------
STILI SPECIFICI */

/* * HEADER */
header .my-logo-container .my-title{
    font-size: 2.5em;
}

header .my-logo-container .my-logo{
    width: 10%;
}



/* * MAIN */
main{
    height: 1100px;
    background-color: var(--main-bg-color);
}

main .my-grid{
    height: 900px;
    width: 900px;
}

main .my-grid .my-square{
    border: 1px solid var(--primary-color);
    width: calc(100% / var(--number-of-squares));
    height: calc(100% / var(--number-of-squares));
    border: 2px solid var(--primary-color);
    font-size: 1.3em;
}