/* *-------------------------------------------------------------------
GENERIC STYLES */

/* * UNIVERSAL SELECTOR */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* * ROOT */
:root{}



/* * HTML TAGS */



/* * CLASSES */





/* *-------------------------------------------------------------------
SPECIFIC STYLES */

/* * HEADER */



/* * MAIN */



/* * FOOTER */